body {
    background-color: black;
}
a {
    text-decoration: none;
    color: white;
}
hr {
    border: 1px solid rgb(255, 0, 0);
}

#layout {
    padding: 10px 20px;
    font-family: 'Mansalva', cursive;
    font-size:18px;
}
/*HEADER*/
#header {
    font-family: 'Mansalva', cursive;
    text-align: center;
    border: 3px solid white; border-radius:20px;
    
    margin-top:30px;
    color:white;
}
/*
.login-links {
    color: red;
}*/

#signin-btn, #signup-btn {
    background: none;
    border: none;
    color: white;
    margin: 0 auto;
}

#menunav {
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
    
    /*transition: all .5s linear;*/
}

.menubtn {
    cursor:pointer;
    margin: 10px;
    padding: 5px;
    width: 120px;
    color: white;
    background: radial-gradient(rgb(50, 140, 168), rgb(66, 50, 168));
    border-radius: 10px;
}

.active {
    background: greenyellow;
    color: blue;
}
.menubtn:hover {
    background:black;
}
/*MAIN PART STYLE*/

.main {
    display:inline-block;
    background-color:rgba(82, 7, 7,0.7);
    height:200%;
    color:white;
    width:65%;
    border-radius:20px;
    padding:10px;
    
}
aside {
    display: inline-block;
    width: 17%;
    height: 450px;
    border-radius: 20px;
    border: solid rgb(41, 43, 44) 5px;
    word-break: normal;
    
 
    position: sticky;
    top: 85px;
    padding: 5px 15px;
}


.infoaside {
    
    float: left;
    margin-right:5px;
 

}
#addsaside {
    float: right;
    margin-left: 5px;
}

/*FOOTER*/
footer {
    background-color: grey;
    color: white;
    margin-top: 10px;
    padding: 10px;
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
#contactus {
    background:none;
    border:none;

}


/*The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
   
}
/*LOGIN*/
#members {
    text-align:center;
}
.bg-modal {
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    position: absolute;
}
/*
//input {
//    width: 50%;
//    display: block;
//    margin: 15px auto;
//}*/
.login {
    width: 50%;
    display: block;
    margin: 15px auto;
    border-radius:5px;
    
}
.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    cursor: pointer;
}


.rememberme {
    //display:inline;
}


.saveme {
    margin:10px 3px;
}

.reg-input {
    float: right;
    border-radius: 5px;
}
.input-group {
    margin:20px;
}
.affix   {
    top: 5px;
    z-index: 9999 !important;
    width:100%;
}

    .affix + .container-fluid {
        padding-top: 70px;
    }
    /*inner page*/
.inner-page {
    margin:20px; 
    border:solid white 1px;">
}

    /*gallery*/
    #galleryhdr {
        display:inline-block;
        padding-bottom: 0 ; /*doesnt work*/
        margin-right: 20px;
    }
    #gallery-nav {
        color:darkslategray;
        display:inline-block;
        
    }
    #gallery-nav > buttons {
        margin-bottom: 5px;
    }
    .createAlbum {
        border: none;
        background-color:none;
        color:yellow;
    }
    